.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  min-width: 630px;
  align-items: flex-start;
  flex-direction: column;
}
